.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 5rem;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #2555AB;
    font-family: "Roboto", serif;
    font-weight: 500;
}

h1 {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: "Roboto", serif;	
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
	display: block;
	font-size: 12px;
	padding: 10px;
    margin-bottom: 20px;
}

.input-control input:focus {
    outline: 0;
}
button {
    background-color: #2555AB;
    color: white;
    padding: 20px 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}